@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  /* *{
    margin: 0;
    padding: 0;
  } */

  /* shared styles */
  .max-width{
    max-width: 1440px;
    margin: 0 auto;
  }
  main > section{
    margin-top: 130px;
  }
  .displayFlex{
    display: flex;
  }
  .section-title{
    font-size: 2.8rem;
    font-weight: 700;
}
  .text-gray{
    color: #424242;
  }
  .text-light-gray{
    color: #727272;
  }
  .bg-light{
    background-color: rgba(255, 144, 14, 0.1);
  }
  .btn-primary{
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px;
    border: none;
    border-radius: 8px;
    background-color: #FF900E;
    color: white;
  }

  /* navbar styles */
  .brand-name{
    font-size: 3rem;
    font-weight: bold;
  }
  .navbar{
    justify-content: space-between;
    align-items: center;
  }
  .nav-item{
    list-style: none;
    margin-right: 20px;
  }
  .nav-link{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
  }
  /* banner styles  */
  .banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
  }
  .banner-title{
    font-size: 3.5rem;
    font-weight: bold;
  }
  .banner-description{
    margin-bottom: 32px;
  }
.banner-img{
    width: 100%;
    margin-bottom: 45px;
}

/* teams styles */
.teams{
    align-items: center;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.our-features{
    max-width: 550px;
    margin-left: 73px;
}

#quick-list{
    font-weight: 500;
}
#features{
    color: #FF900E;
}

/* facts styles */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.fact-card{
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 240px;
    width: 240px;
    margin-top: 105px;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
}

/*responsive media query */
@media screen and (max-width: 576px) {
    .navbar,
    .nav-links,
    .teams{
        flex-direction: column;
    }
    .teams{
        margin-top: 0px;
        flex-direction: column-reverse;
    }
    .teams-img-container{
        margin-top: 50px;
        grid-template-columns: repeat(1, 1fr);
    }
    .our-features{
        margin-left: 20px;
    }
}